# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Model name
MODEL_NAME=gpt-4o-mini

# Tavily API Key (for web search)
TAVILY_API_KEY=your_tavily_api_key_here

# Optional: ChromaDB settings
CHROMA_HOST=localhost
CHROMA_PORT=8000 

# RapidAPI (for dynamic content)
RAPID_API_KEY = your_rapid_api_key_here

IMDB_API_HOST = "imdb236.p.rapidapi.com"
# https://rapidapi.com/octopusteam-octopusteam-default/api/imdb236/playground/apiendpoint_928ee89e-7007-49a2-8cbf-2c0c4a05800e
WEATHER_API_HOST = "weatherapi-com.p.rapidapi.com"
# https://rapidapi.com/weatherapi/api/weatherapi-com/playground/apiendpoint_02481648-7c41-48cc-9b9f-e53596d38bab
